In [80]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [81]:
col_names = ['Loan ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self Employed', 'Applicant Income', 'Co-applicant Income', 'Loan Amount', 'Loan Amount Term', 'Credit History', 'Property Area', 'Loan Status']

loan_test = pd.read_csv("loan_test.csv", header=None, names=col_names)
loan_train = pd.read_csv("loan_train.csv", header=None, names=col_names)

In [82]:
loan_test.head()

,Loan ID,Gender,Married,Dependents,Education,Self Employed,Applicant Income,Co-applicant Income,Loan Amount,Loan Amount Term,Credit History,Property Area,Loan Status
0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001008,Male,No,0,Graduate,No,6000,0,4.94875989,360,1,Urban,Y
2,LP001011,Male,Yes,2,Graduate,Yes,5417,4196,5.587248658,360,1,Urban,Y
3,LP001013,Male,Yes,0,Not Graduate,No,2333,1516,4.553876892,360,1,Urban,Y
4,LP001024,Male,Yes,2,Graduate,No,3200,700,4.248495242,360,1,Urban,Y

In [83]:
loan_test=loan_test.drop(loan_test.index[0])
loan_test.head()

,Loan ID,Gender,Married,Dependents,Education,Self Employed,Applicant Income,Co-applicant Income,Loan Amount,Loan Amount Term,Credit History,Property Area,Loan Status
1,LP001008,Male,No,0,Graduate,No,6000,0,4.94875989,360,1,Urban,Y
2,LP001011,Male,Yes,2,Graduate,Yes,5417,4196,5.587248658,360,1,Urban,Y
3,LP001013,Male,Yes,0,Not Graduate,No,2333,1516,4.553876892,360,1,Urban,Y
4,LP001024,Male,Yes,2,Graduate,No,3200,700,4.248495242,360,1,Urban,Y
5,LP001028,Male,Yes,2,Graduate,No,3073,8106,5.298317367,360,1,Urban,Y

In [84]:
loan_test.isnull().sum()

Loan ID                0
Gender                 0
Married                0
Dependents             0
Education              0
Self Employed          0
Applicant Income       0
Co-applicant Income    0
Loan Amount            0
Loan Amount Term       0
Credit History         0
Property Area          0
Loan Status            0
dtype: int64

In [85]:
loan_train.head()

,Loan ID,Gender,Married,Dependents,Education,Self Employed,Applicant Income,Co-applicant Income,Loan Amount,Loan Amount Term,Credit History,Property Area,Loan Status
0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001954,Female,Yes,1,Graduate,No,4666,0,4.905274778,360,1,Urban,Y
2,LP001401,Male,Yes,1,Graduate,No,14583,0,5.220355825,180,1,Rural,Y
3,LP002004,Male,No,0,Not Graduate,No,2927,2405,4.709530201,360,1,Semiurban,Y
4,LP002305,Female,No,0,Graduate,No,4547,0,4.744932128,360,1,Semiurban,Y

In [86]:
loan_train=loan_train.drop(loan_train.index[0])
loan_train.head()

,Loan ID,Gender,Married,Dependents,Education,Self Employed,Applicant Income,Co-applicant Income,Loan Amount,Loan Amount Term,Credit History,Property Area,Loan Status
1,LP001954,Female,Yes,1,Graduate,No,4666,0,4.905274778,360,1,Urban,Y
2,LP001401,Male,Yes,1,Graduate,No,14583,0,5.220355825,180,1,Rural,Y
3,LP002004,Male,No,0,Not Graduate,No,2927,2405,4.709530201,360,1,Semiurban,Y
4,LP002305,Female,No,0,Graduate,No,4547,0,4.744932128,360,1,Semiurban,Y
5,LP002314,Female,No,0,Not Graduate,No,2213,0,4.189654742,360,1,Rural,Y

In [87]:
loan_train.isnull().sum()

Loan ID                0
Gender                 0
Married                0
Dependents             0
Education              0
Self Employed          0
Applicant Income       0
Co-applicant Income    0
Loan Amount            0
Loan Amount Term       0
Credit History         0
Property Area          0
Loan Status            0
dtype: int64

In [88]:
loan_test['Gender'].fillna(loan_test['Gender'].mode()[0], inplace=True)
loan_test['Married'].fillna(loan_test['Married'].mode()[0], inplace=True)
loan_test['Education'].fillna(loan_test['Education'].mode()[0], inplace=True)
loan_test['Self Employed'].fillna(loan_test['Self Employed'].mode()[0], inplace=True)
loan_test['Property Area'].fillna(loan_test['Property Area'].mode()[0], inplace=True)


X_test = np.array(loan_test.iloc[:,1:-1])
y_test = loan_test['Loan Status']

In [89]:
loan_train['Gender'].fillna(loan_train['Gender'].mode()[0], inplace=True)
loan_train['Married'].fillna(loan_train['Married'].mode()[0], inplace=True)
loan_train['Education'].fillna(loan_train['Education'].mode()[0], inplace=True)
loan_train['Self Employed'].fillna(loan_train['Self Employed'].mode()[0], inplace=True)
loan_train['Property Area'].fillna(loan_train['Property Area'].mode()[0], inplace=True)


X_train = np.array(loan_train.iloc[:,1:-1])
y_train = loan_train['Loan Status']

In [90]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

#Label Encoder
labelencoder_X = LabelEncoder()

#Gender
X_train[:,0] = labelencoder_X.fit_transform(X_train[:,0])

#Marriage
X_train[:,1] = labelencoder_X.fit_transform(X_train[:,1])

#Education
X_train[:,3] = labelencoder_X.fit_transform(X_train[:,3])

#Self-Employed
X_train[:,4] = labelencoder_X.fit_transform(X_train[:,4])

#Property Value
X_train[:,-1] = labelencoder_X.fit_transform(X_train[:,-1])

#Variables
ct = ColumnTransformer([('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X_train = ct.fit_transform(X_train)

#onehotencoder = OneHotEncoder(categorical_features = [0])
#X_train = onehotencoder.fit_transform(X_train).toarray()

In [91]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

#Label Encoder
labelencoder_X = LabelEncoder()

#Gender
X_test[:,0] = labelencoder_X.fit_transform(X_test[:,0])

#Marriage
X_test[:,1] = labelencoder_X.fit_transform(X_test[:,1])

#Education
X_test[:,3] = labelencoder_X.fit_transform(X_test[:,3])

#Self-Employed
X_test[:,4] = labelencoder_X.fit_transform(X_test[:,4])

#Property Value
X_test[:,-1] = labelencoder_X.fit_transform(X_test[:,-1])

#Variables
ct = ColumnTransformer([('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X_test = ct.fit_transform(X_test)

In [92]:
logreg = LogisticRegression()

logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)

In [93]:
accuracy = np.sum(y_pred == y_test) / len(y_test)

print("%s: %f" % ("The accuracy on test data is", accuracy))

The accuracy on test data is: 0.911504

In [94]:
for i in range(len(y_pred)):
	print("X=%s, Predicted=%s" % (X_train[i], y_pred[i]))

X=[1.0 0.0 1 '1' 0 0 '4666' '0' '4.905274778' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '1' 0 0 '14583' '0' '5.220355825' '180' '1' 0], Predicted=Y
X=[0.0 1.0 0 '0' 1 0 '2927' '2405' '4.709530201' '360' '1' 1], Predicted=Y
X=[1.0 0.0 0 '0' 0 0 '4547' '0' '4.744932128' '360' '1' 1], Predicted=Y
X=[1.0 0.0 0 '0' 1 0 '2213' '0' '4.189654742' '360' '1' 0], Predicted=Y
X=[0.0 1.0 0 '0' 0 1 '6950' '0' '5.164785974' '180' '1' 1], Predicted=Y
X=[0.0 1.0 0 '0' 0 0 '2500' '0' '4.007333185' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '2' 0 0 '3159' '461' '4.682131227' '84' '1' 2], Predicted=Y
X=[0.0 1.0 1 '0' 1 1 '4344' '736' '4.465908119' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '3887' '2669' '5.087596335' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '3927' '800' '4.718498871' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '3' 0 0 '5167' '3167' '5.298317367' '360' '1' 1], Predicted=Y
X=[0.0 1.0 0 '0' 0 0 '12000' '0' '5.099866428' '360' '1' 1], Predicted=Y
X=[0.0 1.0 0 '0' 1 0 '7333' '0' '4.787491743' '360' '1' 0], Predicted=Y
X=[0.0 1.0 1 '0' 1 1 '2609' '3449' '5.105945474' '180' '0' 0], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '5116' '1451' '5.105945474' '360' '0' 2], Predicted=Y
X=[0.0 1.0 0 '0' 0 0 '4166' '7210' '5.214935758' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '1' 0 1 '7787' '0' '5.480638923' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '2' 0 0 '4865' '5624' '5.33753808' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '1' 1 0 '2661' '7101' '5.631211782' '180' '1' 1], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '2221' '0' '4.094344562' '360' '0' 2], Predicted=Y
X=[0.0 1.0 0 '0' 1 0 '3691' '0' '4.700480366' '360' '1' 0], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '10833' '0' '5.455321115' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '1' 0 1 '2395' '0' '4.852030264' '360' '1' 1], Predicted=Y
X=[0.0 1.0 0 '0' 0 0 '5849' '0' '4.852030264' '360' '1' 2], Predicted=Y
X=[1.0 0.0 0 '0' 0 0 '5417' '0' '4.96284463' '480' '0' 2], Predicted=Y
X=[1.0 0.0 0 '2' 0 0 '3750' '2083' '4.787491743' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '1' 0 0 '6400' '7250' '5.192956851' '360' '0' 2], Predicted=Y
X=[0.0 1.0 1 '0' 1 0 '3572' '4114' '5.023880521' '360' '0' 0], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '3707' '3166' '5.204006687' '360' '1' 0], Predicted=Y
X=[1.0 0.0 1 '2' 0 0 '1378' '1881' '5.117993812' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '2297' '1522' '4.644390899' '360' '1' 2], Predicted=N
X=[0.0 1.0 0 '0' 1 0 '2699' '2785' '4.564348191' '360' '1' 1], Predicted=Y
X=[0.0 1.0 0 '2' 0 0 '4923' '0' '5.111987788' '360' '0' 1], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '3015' '2188' '5.030437921' '360' '1' 0], Predicted=N
X=[0.0 1.0 1 '1' 0 0 '9538' '0' '5.231108617' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '2' 0 0 '2500' '1840' '4.691347882' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '2620' '2223' '5.010635294' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '1' 1 0 '2600' '2500' '4.49980967' '360' '1' 1], Predicted=Y
X=[1.0 0.0 0 '0' 0 0 '2507' '0' '4.025351691' '360' '1' 0], Predicted=Y
X=[1.0 0.0 0 '0' 0 0 '4160' '0' '4.262679877' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '1' 0 0 '6325' '0' '5.164785974' '360' '1' 1], Predicted=Y
X=[0.0 1.0 0 '1' 1 0 '2679' '1302' '4.543294782' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '3' 0 0 '5250' '0' '4.543294782' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '1' 0 0 '3315' '0' '4.564348191' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '3' 1 0 '2071' '754' '4.543294782' '480' '1' 1], Predicted=Y
X=[0.0 1.0 1 '2' 0 0 '3510' '4416' '5.493061443' '360' '1' 0], Predicted=Y
X=[0.0 1.0 1 '3' 0 0 '7740' '0' '4.852030264' '180' '1' 2], Predicted=Y
X=[0.0 1.0 1 '1' 0 0 '3155' '1779' '4.941642423' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '2' 0 0 '2873' '1872' '4.882801923' '360' '0' 1], Predicted=Y
X=[0.0 1.0 1 '2' 0 0 '11417' '1126' '5.416100402' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '14683' '2100' '5.717027701' '360' '1' 0], Predicted=Y
X=[0.0 1.0 1 '2' 0 0 '2301' '985.7999878' '4.356708827' '180' '1' 2], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '3816' '754' '5.075173815' '360' '1' 2], Predicted=Y
X=[1.0 0.0 0 '2' 0 0 '3427' '0' '4.927253685' '360' '1' 2], Predicted=N
X=[0.0 1.0 1 '0' 0 0 '4817' '923' '4.787491743' '180' '1' 2], Predicted=Y
X=[0.0 1.0 1 '1' 0 0 '2787' '1917' '4.983606622' '360' '0' 0], Predicted=Y
X=[0.0 1.0 1 '2' 0 0 '1299' '1086' '2.833213344' '120' '1' 2], Predicted=Y
X=[1.0 0.0 0 '0' 0 0 '8333' '0' '5.634789603' '360' '1' 1], Predicted=Y
X=[0.0 1.0 0 '0' 0 0 '3254' '0' '3.912023005' '360' '1' 2], Predicted=N
X=[1.0 0.0 0 '1' 1 1 '3867' '0' '4.127134385' '360' '1' 1], Predicted=N
X=[0.0 1.0 1 '3' 0 0 '6417' '0' '5.056245805' '180' '1' 0], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '2600' '3500' '4.744932128' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '3' 0 0 '4333' '1811' '5.075173815' '360' '0' 2], Predicted=Y
X=[0.0 1.0 0 '0' 0 0 '9166' '0' '5.497168225' '360' '1' 2], Predicted=N
X=[0.0 1.0 0 '0' 0 0 '5316' '0' '4.912654886' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '1' 1 0 '4050' '5302' '4.927253685' '360' '1' 0], Predicted=Y
X=[0.0 1.0 0 '0' 0 0 '4950' '0' '4.828313737' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '2799' '2253' '4.804021045' '360' '1' 1], Predicted=N
X=[0.0 1.0 1 '0' 0 0 '3775' '0' '4.700480366' '360' '1' 1], Predicted=N
X=[0.0 1.0 1 '2' 1 0 '3083' '2168' '4.836281907' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '0' 0 1 '39147' '4750' '4.787491743' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '1' 0 0 '33846' '0' '5.560681631' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '0' 1 0 '2454' '2333' '5.198497031' '360' '0' 2], Predicted=N
X=[0.0 1.0 1 '0' 0 1 '2577' '3750' '5.023880521' '360' '1' 0], Predicted=Y
X=[0.0 1.0 1 '3' 1 1 '3333' '2166' '4.86753445' '360' '1' 1], Predicted=N
X=[1.0 0.0 0 '0' 0 0 '4230' '0' '4.718498871' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '2' 1 0 '2192' '1742' '3.80666249' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '2583' '2115' '4.787491743' '360' '1' 2], Predicted=N
X=[0.0 1.0 1 '1' 1 0 '3500' '1083' '4.905274778' '360' '1' 2], Predicted=Y
X=[0.0 1.0 0 '0' 0 0 '2833' '1857' '4.836281907' '360' '1' 0], Predicted=N
X=[0.0 1.0 1 '0' 1 0 '1820' '1769' '4.553876892' '360' '1' 0], Predicted=N
X=[0.0 1.0 1 '2' 0 0 '3717' '0' '4.787491743' '360' '1' 1], Predicted=Y
X=[0.0 1.0 0 '0' 0 1 '16250' '0' '5.257495372' '360' '0' 2], Predicted=Y
X=[0.0 1.0 1 '2' 0 0 '2957' '0' '4.394449155' '360' '1' 1], Predicted=Y
X=[0.0 1.0 0 '0' 1 0 '2755' '0' '4.17438727' '300' '1' 0], Predicted=Y
X=[0.0 1.0 1 '0' 1 0 '2600' '1911' '4.753590191' '360' '0' 1], Predicted=N
X=[0.0 1.0 0 '0' 0 0 '4750' '0' '4.543294782' '360' '1' 1], Predicted=Y
X=[0.0 1.0 0 '0' 0 0 '2965' '5701' '5.043425117' '60' '1' 2], Predicted=Y
X=[0.0 1.0 1 '1' 1 0 '5333' '1131' '5.225746674' '360' '1' 2], Predicted=Y
X=[1.0 0.0 1 '0' 1 1 '7142' '0' '4.927253685' '360' '1' 0], Predicted=Y
X=[0.0 1.0 1 '1' 0 0 '3875' '0' '4.204692619' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '3173' '3021' '4.919980926' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '11146' '0' '4.912654886' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '3366' '2200' '4.905274778' '360' '1' 0], Predicted=Y
X=[0.0 1.0 1 '2' 0 1 '7948' '7166' '6.173786104' '360' '1' 0], Predicted=Y
X=[0.0 1.0 1 '2' 0 0 '2708' '1167' '4.574710979' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '3' 0 0 '23803' '0' '5.913503006' '360' '1' 0], Predicted=Y
X=[1.0 0.0 1 '1' 0 0 '4608' '2845' '4.941642423' '180' '1' 1], Predicted=Y
X=[0.0 1.0 1 '3' 0 0 '81000' '0' '5.886104031' '360' '0' 0], Predicted=Y
X=[0.0 1.0 1 '0' 0 0 '1820' '1719' '4.605170186' '360' '1' 2], Predicted=Y
X=[0.0 1.0 1 '1' 0 0 '2882' '1843' '4.812184355' '480' '1' 1], Predicted=Y
X=[1.0 0.0 0 '0' 0 0 '5000' '0' '4.882801923' '360' '1' 0], Predicted=Y
X=[0.0 1.0 0 '0' 0 0 '3418' '0' '4.844187086' '360' '1' 1], Predicted=Y
X=[0.0 1.0 1 '1' 0 1 '8666' '4983' '5.929589143' '360' '0' 0], Predicted=N
X=[0.0 1.0 1 '0' 1 0 '3074' '1800' '4.812184355' '360' '0' 1], Predicted=Y
X=[0.0 1.0 1 '1' 0 1 '2895' '0' '4.553876892' '360' '1' 1], Predicted=Y
X=[0.0 1.0 0 '0' 0 1 '6050' '4333' '4.787491743' '180' '1' 2], Predicted=Y
X=[0.0 1.0 1 '1' 0 1 '10000' '0' '5.043425117' '360' '1' 0], Predicted=Y
X=[1.0 0.0 1 '1' 0 1 '11500' '0' '5.655991811' '360' '0' 2], Predicted=Y
X=[0.0 1.0 1 '3' 0 0 '3430' '1250' '4.852030264' '360' '0' 1], Predicted=Y
X=[0.0 1.0 1 '1' 0 0 '1625' '1803' '4.564348191' '360' '1' 2], Predicted=Y
X=[1.0 0.0 0 '3' 0 0 '3083' '0' '5.541263545' '360' '1' 0], Predicted=N